{% extends 'base.html' %}
{% block content %}
    <main>
        <h1>Account</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </thead>
            <tbody>
                {% for acc in account_list %}
                <tr>
                    <td>{{acc.name}}</td>
                    <td>{{acc.number}}</td>
                    <td>{{acc.receipts.all|length}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
