{% extends 'base.html' %}
{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </thead>
            <tbody>
                {% for r in receipt_list %}
                <tr>
                    <td>{{r.vendor}}</td>
                    <td>{{r.total}}</td>
                    <td>{{r.tax}}</td>
                    <td>{{r.date|date:"m-d-Y"}}</td>
                    <td>{{r.category}}</td>
                    <td>{{r.account}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
